@import '../../../../../assets/scss/custom';


.light-blue-btn{
@include light-blue-btn;
}



.engagmentdetails{
   &-container{
   @include light-blue-btn($darkblue);
   border-radius: 5px;
   color: $darkblue;
   width: max-content;
   font-weight: 500;
   
    }

}